.header {
    height: 55px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;

    background-color: white;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.left-section {
    display: flex;
    align-items: center;
}

.menu-icon {
    height: 24px;
    margin: 0 24px 0 24px;
}

.youtube-icon {
    height: 20px;
}

.center-section {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}

.search-bar {
    flex: 1;
    height: 40px; 
    font-size: 16px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 2px;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

input::placeholder {
    color: rgb(137, 137, 137);
    font-size: 16px;
}

input:focus {
    outline: none;
}

.search-button {
    height: 40px;
    width: 66px;
    border: 1px solid rgb(197, 197, 197);
    margin-left: -1px;
    margin-right: 10px;
    background-color: rgb(240, 240, 240);
}

.search-button,
.voice-search-button,
.upload-button,
.youtube-apps-button,
.notifications-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-button .tooltip,
.youtube-apps-button .tooltip,
.notifications-button .tooltip {
    position: absolute;
    font-size: 12px;
    background-color: rgba(101, 101, 101, 0.8);
    color: white;
    border-radius: 2px;
    padding: 10px 6px;
    bottom: -40px;
    pointer-events: none;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.15s;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-button:hover .tooltip,
.youtube-apps-button:hover .tooltip,
.notifications-button:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 25px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
}  

.voice-search-icon {
    height: 24px;
}

.right-section {
    width: 180px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notifications-button {
    position: relative;
}

.notifications-icon {
    height: 24px;
}

.notifications-number {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -2px;
    right: -3px;
    
    background-color: rgb(198, 20, 20);
    color: white;
    font-size: 11px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

.my-channel-picture {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    object-fit: cover;

}