p {
  margin: 0;
}

.thumbnail {
  width: 100%;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 12px;
}

.profile-picture {
  height: 36px;
  border-radius: 25px;
}

.video-description {
  margin-left: 5px;
}

.video-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.thumbnail-row {
  position: relative;
}

.video-author,
.video-stats,
.video-author-tooltip {
  font-size: 12px;
  margin: 0;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 16px;
}

@media (max-width: 800px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 801px) and (max-width: 1099px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  position: absolute;
  background-color: black;
  color: white;
  bottom: 10px;
  right: 5px;
  font-weight: 500;
  font-size: 12px;
  padding: 4px;
  border-radius: 3px;
}

.profile-picture-container {
  display: inline-block;
  position: relative;
}

.channel-tooltip {
  position: absolute;
  top: 45px;
  z-index: 300;

  padding: 12px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  transition: opacity 0.15s;
}

.profile-picture-container:hover .channel-tooltip {
  opacity: 1;
}

.profile-picture-tooltip {
  height: 50px;
  border-radius: 25px;
}

.video-author-tooltip {
  margin: 0 8px;
}

.video-author-info {
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.video-author-stats {
  font-size: 14px;
}